<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fpp.status">


    <!--  ******************** 相机相关权限 ********************  -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--  ******************** 相机相关权限 ********************  -->


    <!--  ******************** 日历相关权限 ********************  -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <!--  ******************** 日历相关权限 ********************  -->

    <!--  ******************** 通讯录相关权限 ********************  -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--  ******************** 通讯录相关权限 ********************  -->

    <!--  ******************** 位置相关权限 ********************  -->
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--  ******************** 位置相关权限 ********************  -->


    <!--  ******************** 麦克风相关权限 ********************  -->
    <uses-permission android:name="android.permission_group.MICROPHONE" />
    <!--  ******************** 麦克风相关权限 ********************  -->


    <!--  ******************** 电话相关权限 ********************  -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--  ******************** 电话相关权限 ********************  -->

    <!--  ******************** 传感器相关权限 ********************  -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <!--  ******************** 传感器相关权限 ********************  -->

    <!--  ******************** 短信相关权限 ********************  -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--  ******************** 短信相关权限 ********************  -->

    <!--  ******************** 文件存储相关权限 ********************  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--  ******************** 文件存储相关权限 ********************  -->


    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".DLActivity" />
        <activity
            android:name=".activity.twotwo.PWActivity"
            android:label="@string/title_activity_pw"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.DHActivity" />
        <activity android:name=".activity.test.MoveActivity" />
        <activity android:name=".activity.test.MoveTestActivity" />
        <activity android:name=".activity.test.TestActivity" />
        <activity android:name=".activity.test.MoveImageActivity" />
        <activity android:name=".activity.test.MoveViewGroupActivity" />
        <activity android:name=".activity.handler.HandlerOneActivity" />
        <activity android:name=".activity.handler.HandlerTestActivity" />
        <activity android:name=".activity.handler.HandlerThreeActivity" />
        <activity android:name=".activity.handler.HandlerFourActivity" />
        <activity android:name=".activity.handler.HandlerFiveActivity" />
        <activity
            android:name=".activity.move.MoveOneActivity"
            android:theme="@style/ImageTranslucentTheme" />
        <activity android:name=".activity.move.MoveTwoActivity" />
        <activity android:name=".activity.move.MoveThreeActivity" />
        <activity android:name=".activity.move.MoveFourActivity" />
        <activity
            android:name=".activity.popupwindow.PWOneActivity"
            android:theme="@style/ColorTranslucentTheme" />
        <activity android:name=".activity.customview.CustomViewOneActivity" />
        <activity android:name=".activity.customview.CustomViewTwoActivity" />
        <activity android:name=".activity.customview.CustomViewThreeActivity" />
        <activity android:name=".activity.customview.CustomViewFourActivity" />
        <activity android:name=".activity.customview.CustomViewFiveActivity" />
        <activity android:name=".activity.customview.CustomViewSixActivity" />
        <activity android:name=".activity.customview.CustomViewSevenActivity" />
        <activity android:name=".activity.customview.CustomViewEightActivity" />
        <activity android:name=".activity.popupwindow.LoginActivity" />
        <activity android:name=".activity.fragmentone.OneFragmentActivity" />
        <activity android:name=".activity.fragmenttwo.FragmentTwoActivity" />
        <activity android:name=".activity.fragmentthree.ThreeFragmentActivity" />
        <activity android:name=".activity.fragmentfour.ListViewNestListViewActivity" />
        <activity android:name=".activity.fragmentfive.AllSelectActivity" />
        <activity android:name=".activity.fragmentsix.FragmentSixActivity" />
        <activity android:name=".activity.fragmentseven.FragmentSevenActivity" />
        <activity android:name=".activity.fragmenteight.FragmentEightActivity" />
        <activity android:name=".activity.four.FourThreeActivity" />
        <activity android:name=".activity.four.FourFourActivity" />
        <activity android:name=".activity.two.RecycleViewActivity" />
        <activity android:name=".activity.three.six.MoveDeleteRecycleViewItemActivity" />
        <activity android:name=".activity.fourfive.GuideTwoActivity" />
        <activity android:name=".activity.foursix.GuideThreeActivity" />
        <activity android:name=".activity.fourseven.GuideFourActivity">

        </activity>
        <!-- 设置Activity可以监听屏幕方向改变的事件 -->
        <activity
            android:name=".activity.three.seven.ConfigurationActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.three.eight.EventTwoActivity" />
        <activity android:name=".activity.four.eight.HandlerActivity" />
        <activity android:name=".activity.eight.one.AllSelectListActivity"/>
        <activity android:name=".activity.eight.two.ResourceActivity" />
        <activity android:name=".activity.eight.three.PermissionManageActivity" />
        <activity android:name=".activity.eight.three.PermissionManageOneActivity" />
        <activity android:name=".activity.eight.four.SharePreferencesActivity" />
        <activity android:name=".activity.eight.four.SharePreferencesExampleActivity" />
        <activity android:name=".activity.eight.four.SQLiteActivity" />
        <activity android:name=".activity.eight.four.SQLiteExampleActivity" />
        <activity android:name=".activity.eight.four.ResultActivity" />
        <activity android:name=".activity.eight.four.GestureOneActivity" />
        <activity android:name=".activity.eight.four.GestureTwoActivity" />
        <activity android:name=".activity.nine.one.RVOneActivity" />
        <activity android:name=".activity.nine.two.GridManagerActivity" />
        <activity android:name=".activity.nine.three.PictureLargenActivity"/>
        <activity android:name=".activity.nine.four.WebActivity"/>
        <activity android:name=".activity.nine.five.JsActivity"/>
        <activity android:name=".activity.nine.six.AnimationActivity"/>
        <activity android:name=".activity.nine.seven.RecycleViewActivity"/>
        <activity android:name=".activity.nine.eight.DialogFragmentActivity"/>
        <activity android:name=".activity.ten.one.GreenDaoActivity"/>
        <activity android:name=".transformer.MainActivity"/>
        <activity android:name=".transformer.CircleViewPagerActivity"/>
        <activity android:name=".transformer.StandardViewPagerActivity"/>
        <activity android:name=".transformer.CarouselActivity"/>
        <activity android:name=".transformer.CustomViewPagerActivity"/>
        <activity android:name=".activity.ten.two.TenTwoActivity"/>
        <activity android:name=".activity.ten.three.TenThreeActivity"/>
        <activity android:name=".activity.ten.five.VideoActivity"/>
        <activity android:name=".activity.ten.six.DLActivity"/>
        <activity android:name=".activity.ten.six.TenSixActivity"/>
        <activity android:name=".activity.ten.six.TaskManageActivity"/>
        <activity android:name=".activity.ten.four.TenFourTwoActivity"/>
        <activity android:name=".activity.ten.seven.TenSevenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity android:name=".activity.eleven.one.ElevenOneActivity"/>
        <activity android:name=".activity.eleven.two.HomeActivity"/>
        <activity android:name=".activity.eleven.three.ChartActivity"/>

        <activity android:name=".activity.eleven.four.LinkmanActivity"/>

        <activity android:name=".activity.fragmentfive.CheckActivity"/>
















        <!-- 解决Android 7.0 读写本地文件的问题 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.fpp.status.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 解决Android 7.0 读写本地文件的问题 -->


        <!--********** 激光推送开始 ***********-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.push.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.fpp.status" />
            </intent-filter>
        </receiver>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".receiver.push.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.fpp.status" />
            </intent-filter>
        </receiver>
        <!--********** 激光推送结束 ***********-->

    </application>

</manifest>